DROP DATABASE IF EXISTS [StockBridge]
GO

CREATE DATABASE [StockBridge]
GO

USE [StockBridge]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Employee].[Employee]') AND type in (N'U'))
ALTER TABLE [Employee].[Employee] DROP CONSTRAINT IF EXISTS [FK_Employee_Role]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Employee].[Employee]') AND type in (N'U'))
ALTER TABLE [Employee].[Employee] DROP CONSTRAINT IF EXISTS [Unique_Employee]
GO
DROP TABLE IF EXISTS [Employee].[Role]
GO
DROP TABLE IF EXISTS [Employee].[Employee]
GO
DROP SCHEMA IF EXISTS [Employee]
GO
USE [master]
GO
DROP DATABASE IF EXISTS [StockBridge]
GO
CREATE DATABASE [StockBridge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stockbridge', FILENAME = N'/Users/Shared/Stockbridge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stockbridge_log', FILENAME = N'/Users/Shared/Stockbridge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockBridge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockBridge]
GO
USE [StockBridge]
GO
CREATE SCHEMA [Employee]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employee].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [binary](64) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[StartDate] [datetime] NULL,
	[RoleID] [int] NOT NULL,
	[UpdatedDate]  AS (getdate()),
	[AvailableVacationHours] [decimal](2, 0) NULL,
	[BaseRate] [money] NOT NULL,
 CONSTRAINT [PK_Employee.Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employee].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Employee].[Employee] ON 

INSERT [Employee].[Employee] ([ID], [FirstName], [LastName], [UserName], [Email], [Password], [CreatedDate], [StartDate], [RoleID], [AvailableVacationHours], [BaseRate]) VALUES (1, N'Guest', N'User', N'gUser', N'gUser@stockbridge.com', 0x804F50DDBAAB7F28C933A95C162D019ACBF96AFDE56DBA10E4C7DFCFE453DEC4BACF5E78B1DDBDC1695A793BCB5D7D409425DB4CC3370E71C4965E4EF992E8C4, CAST(N'2020-08-17T09:41:05.207' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1, CAST(0 AS Decimal(2, 0)), 0.0000)
INSERT [Employee].[Employee] ([ID], [FirstName], [LastName], [UserName], [Email], [Password], [CreatedDate], [StartDate], [RoleID], [AvailableVacationHours], [BaseRate]) VALUES (3, N'Guest', N'User2', N'gUser2', N'gUser2@stockbridge.com', 0x804F50DDBAAB7F28C933A95C162D019ACBF96AFDE56DBA10E4C7DFCFE453DEC4BACF5E78B1DDBDC1695A793BCB5D7D409425DB4CC3370E71C4965E4EF992E8C4, CAST(N'2020-08-18T12:42:45.627' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1, CAST(0 AS Decimal(2, 0)), 0.0000)
SET IDENTITY_INSERT [Employee].[Employee] OFF
SET IDENTITY_INSERT [Employee].[Role] ON 

INSERT [Employee].[Role] ([ID], [Name]) VALUES (1, N'Employee')
INSERT [Employee].[Role] ([ID], [Name]) VALUES (2, N'Manager')
INSERT [Employee].[Role] ([ID], [Name]) VALUES (3, N'Owner')
SET IDENTITY_INSERT [Employee].[Role] OFF
SET ANSI_PADDING ON
GO
ALTER TABLE [Employee].[Employee] ADD  CONSTRAINT [Unique_Employee] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Employee].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([RoleID])
REFERENCES [Employee].[Role] ([ID])
GO
ALTER TABLE [Employee].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
USE [master]
GO
